In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('student_performance.csv')

In [3]:
df

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9

In [4]:
df.sample(10)

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
25,S1025,22,Male,4.9,4.3,3.3,No,74.7,9.0,Fair,1,High School,Average,2,Yes,69.9
793,S1793,20,Female,2.5,4.3,2.4,No,84.5,8.6,Fair,3,Master,Good,3,No,49.4
203,S1203,17,Male,2.0,3.8,0.3,No,78.4,7.6,Fair,6,Master,Poor,5,No,58.5
136,S1136,17,Female,4.9,3.0,3.6,No,91.1,6.7,Good,1,Bachelor,Good,4,No,67.6
733,S1733,24,Male,3.3,2.8,0.0,No,98.3,7.3,Fair,2,Bachelor,Good,6,No,70.6
395,S1395,20,Male,4.1,3.1,1.8,No,82.5,4.9,Fair,4,High School,Good,8,No,77.8
612,S1612,20,Male,2.6,2.3,0.9,No,80.1,7.0,Fair,0,Master,Good,9,No,69.3
530,S1530,17,Male,4.4,1.3,2.4,No,87.9,5.5,Good,2,Master,Good,8,Yes,80.9
363,S1363,18,Male,2.1,2.1,3.6,No,87.8,5.8,Fair,5,Master,Poor,4,No,56.9
955,S1955,19,Female,2.7,2.8,1.4,Yes,92.2,10.0,Poor,3,High School,Average,8,No,86.9

# Q1: Total no of students :

In [17]:
print("No of students in this datasheet is : ",df['student_id'].shape[0])

No of students in this datasheet is :  1000

# Q2: Students who studied > 2 hours.

In [18]:
mask=(df['study_hours_per_day']>2.0)
df[mask].shape[0]

846

# Q3: Students who passed

In [19]:
# so lets assume the passing crieteria like:
# attendance_percentage > 75.0
# netflix_hours < 5.0
# mental_health_rating> 3
# exam _score >50

In [20]:
df['exam_score'].min()

18.4

In [21]:
passing_marks=35;
mask1=df['attendance_percentage']>75.0
mask2=df['netflix_hours']< 5.0
mask3=df['mental_health_rating']>3
mask4=df['exam_score']>35.0
df_1=df[mask1 & mask2 & mask3 & mask4]
df_1.shape[0]

573

# Q4: Students who studied > 2 hours and passed

In [24]:
df_2=df_1[df_1['study_hours_per_day']>2.0]
df_2.shape[0]

482

# Q5: Percentage of students who passed among those who studied > 2 hours

In [27]:
df_3=df[df['study_hours_per_day']>2.0]

In [28]:
print("NO of Students who studied > 2 hours is : ",df_3.shape[0])

NO of Students who studied > 2 hours is :  846

In [29]:
print("Students Who studied 2 hrs and also passesd: ",df_2.shape[0])

Students Who studied 2 hrs and also passesd:  482

In [30]:
print("Percentage of students who passed among those who studied > 2 hours: ",(df_2.shape[0])/(df_3.shape[0])*100)

Percentage of students who passed among those who studied > 2 hours:  56.973995271867615

# Q6: Use Bayes Theorem to compute:
➤ Probability that a student studied > 2h given they passed

In [31]:
# bayers theorem is : p(a/b)=p(a intersection b)/p(b)

In [40]:
x= (df_1.shape[0])/df.shape[0]
print("probability that a student passed is : p(b)=",x)

probability that a student passed is : p(b)= 0.573

In [41]:
y=(df_2.shape[0])/(df.shape[0])
print("probability that a student passed and also had studied 2 hrs: p(a intersection b)=",y)

probability that a student passed and also had studied 2 hrs: p(a intersection b)= 0.482

In [42]:
print("Probability that a student studied > 2h given they passed:->  p(a intersection b)/p(b)=", y/x)

Probability that a student studied > 2h given they passed:->  p(a intersection b)/p(b)= 0.8411867364746947